<!DOCTYPE html>
<html lang = "en-US">

<head>

  	<meta charset = "UTF-8">
  	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  	<!-- Bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<!-- Datatables -->
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  	<!-- Title -->
  	<title>Mon Parc d'Eclairage</title>
  	<!-- Custom styles -->
  	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src='static/Chart.min.js'></script>

</head>

<body>

		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" role="navigation">
			<a class="navbar-brand" href="/getEvents">Mon Parc</a>
      <a href="/signIn"><img src="/static/images/logout.png" title="Déconnexion" style="margin-left: 87%; margin-top: 5px; height: 40px; width: 40px;"></img></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
		</nav>

		<br>
		<br>
		<br>
		<br>



		<div>
			<h1>Mes équipements</h1>
		</div>

    <div id="map" style="height: 650px; margin-bottom: 30px;"></div>

		<div style= "background-color: rgb(42, 63, 84); padding: 15px; border-radius: 10px; margin-top: 0px; margin-bottom: 30px;">
      <h1 style="color: white; font-size: 25px; text-align: center;">Allumages par rue, la nuit du {{ date }}</h1>
      <form action="{{ url_for('getEvents') }}" method="post" class="form-inline" role="form" style="text-align: center; padding-top: 10px;">
        <div class="form-group">
  				<d1>
            <input type="date" required class="form-control" value="{{ date }}" id="period" name="period" style="width: 200px;">
            <input type="hidden" name="action" value="per_day">
  				</d1>
  			</div>
        <div class="form-group">
  				<d1>
            <select class="form-control" id="interval" required name="interval" style="width: 200px;">
              <option value="5m">5 Minutes</option>
              <option value="15m">15 Minutes</option>
              <option value="30m">30 Minutes</option>
              <option value="1h" selected>1 Heure</option>
            </select>
  				</d1>
  			</div>
        <div class="form-group">
  				<d1>
            <input id="filter" type=submit value="Visualiser" class="btn btn-success">
  				</d1>
  			</div>
  		</form>

      <canvas id="dayChart" style="padding: 10px;"></canvas>

    </div>

    <div style= "background-color: rgba(42, 63, 84); padding: 15px; border-radius: 10px; margin-top: 0px; margin-bottom: 30px;">
      <h1 style="color: white; font-size: 25px; text-align: center;">Allumages par rue, la semaine du {{ week_monday_date }}</h1>
      <form action="{{ url_for('getEvents') }}" method="post" class="form-inline" role="form" style="text-align: center; padding-top: 10px;">
        <div class="form-group">
  				<d1>
            <input type="week" required class="form-control" id="week" name="week" value="{{ week }}" style="width: 200px;">
            <input type="hidden" name="action" value="per_week">
  				</d1>
  			</div>
        <div class="form-group">
  				<d1>
            <input id="filter" type=submit value="Visualiser" class="btn btn-success">
  				</d1>
  			</div>
  		</form>

      <canvas id="weekChart" style="padding: 10px;"></canvas>

    </div>



</body>

<script type="text/javascript">

  $.fn.dataTable.ext.classes.sLengthSelect = 'btn-sm btn-secondary dropdown-toggle';
  $.fn.dataTable.ext.classes.sFilterInput = 'form-control input-sm';
  $('#tablebalanceBTC_filter input[type="search"]').attr('placeholder', 'Table search');
  $(document).ready(function() {
      $('#list').DataTable( {
          "dom": '<"top"fl>rt<"bottom"ip><"clear">',
  				language: {
  					search: "",
  					searchPlaceholder: "Rechercher..."
  				},
  		} );
  } );

  //LEAFLET

  var map = L.map('map').setView([48.8145722,2.3904915], 13);
  var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
  });

  var redIcon = L.icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',

      iconSize:     [25, 41],
      shadowSize:   [41, 41],
      iconAnchor:   [12, 41],
      shadowAnchor: [4, 62],
      popupAnchor:  [0, -50]
  });

  {% for device in devices %}

    {% if device.status == 0 %}
      L.marker([{{device.latitude}},{{device.longitude}}], {icon: redIcon}).addTo(map)
      .bindPopup("Device {{device.device}} </br> Status: OFF");

    {% else %}
      L.marker([{{device.latitude}},{{device.longitude}}]).addTo(map)
      .bindPopup("Device {{device.device}} </br> Status: ON");

    {% endif %}

  {% endfor %}

  map.addLayer(layer);

  //ChartJS

  // Global parameters:
  // do not resize the chart canvas when its container does (keep at 600x400px)
  Chart.defaults.global.responsive = false;

  // define the chart data
  var chartData = {
    labels : [{% for item in labels %}
               "{{item}}",
              {% endfor %}],
    datasets : [{
        label: 'Rue Lénine',
        fill: false,
        lineTension: .3,
        backgroundColor: "rgba(75,192,192,1)",
        borderColor: "rgba(75,192,192,0.4)",
        borderWidth: 1.5,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in Lenine_values %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
    },
    {
        label: 'Rue Maurice Grandcoing',
        fill: false,
        lineTension: .3,
        backgroundColor: "#ff3333",
        borderColor: "#ff3333",
        borderWidth: 1.5,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in MG_values %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
    },
    {
        label: 'Rue Toto',
        fill: false,
        lineTension: .3,
        backgroundColor: "#5cb85c",
        borderColor: "#5cb85c",
        borderWidth: 1.5,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in Toto_values %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
    }]
  }

  // get chart canvas
  var ctx = document.getElementById("dayChart").getContext("2d");

  var green_gradient = ctx.createLinearGradient(0, 0, 0, 850);
  green_gradient.addColorStop(0.9, 'rgba(92,184,92,1)');
  green_gradient.addColorStop(0.5, 'rgba(92,184,92,0.5)');
  green_gradient.addColorStop(1, 'rgba(92,184,92,0.2)');

  var blue_gradient = ctx.createLinearGradient(0, 0, 0, 850);
  blue_gradient.addColorStop(0.9, 'rgba(75,192,192,1)');
  blue_gradient.addColorStop(0.5, 'rgba(75,192,192,.5)');
  blue_gradient.addColorStop(1, 'rgba(75,192,192,0.2)');

  var red_gradient = ctx.createLinearGradient(0, 0, 0, 850);
  red_gradient.addColorStop(0.9, 'rgba(255, 51, 51, 1)');
  red_gradient.addColorStop(0.3, 'rgba(255, 51, 51, .5)');
  red_gradient.addColorStop(1, 'rgba(255, 51, 51, 0.2)');


  // create the chart using the chart canvas
  var dayChart = new Chart(ctx, {
    type: 'line',
    data: chartData,
    options: {
        legend: {
            labels: {
                fontColor: "white",
                padding: 20
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: "white",
                    beginAtZero: true
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: "white",
                    beginAtZero: true
                }
            }]
        },
        responsive: true
      },
  });

  //weekChart

  var week_chartData = {
    labels : ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
    datasets : [{
        label: 'Rue Lénine',
        fill: false,
        lineTension: .3,
        backgroundColor: blue_gradient,
        borderColor: "rgba(75,192,192,0.4)",
        borderWidth: 0,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in Lenine_week_values %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
    },
    {
        label: 'Rue Maurice Grandcoing',
        fill: false,
        lineTension: .3,
        backgroundColor: red_gradient,
        borderColor: "#ff3333",
        borderWidth: 0,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in MG_week_values %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
    },
    {
        label: 'Rue Toto',
        fill: false,
        lineTension: .3,
        backgroundColor: green_gradient,
        borderColor: "#5cb85c",
        borderWidth: 0,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in Toto_week_values %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
    }]
  }

  // get chart canvas
  var ctx = document.getElementById("weekChart").getContext("2d");

  // create the chart using the chart canvas
  var weekChart = new Chart(ctx, {
    type: 'bar',
    data: week_chartData,
    options: {
        legend: {
            labels: {
                fontColor: "white",
                padding: 20
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: "white",
                    beginAtZero: true
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: "white",
                    beginAtZero: true
                }
            }]
        },
        responsive: true
      },
  });

</script>
