  <!DOCTYPE html>
<html lang = "en-US">

<head>

  	<meta charset = "UTF-8">
  	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  	<!-- Bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<!-- Title -->
  	<title>Mon Parc d'Eclairage</title>
  	<!-- Custom styles -->
  	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src='static/Chart.min.js'></script>
    <!-- Hightchart (Zoomable Timeseries) -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

</head>

<body>

		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" role="navigation">
      <ul class="nav navbar-nav">
        <li><img src="/static/images/logo.png" style="height: 50px;"></img></li>
        <li><a href="/map">Mon Parc</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuration
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="navbar-brand" href="/newDevice">Gérer mes équipements</a></li>
            <li><a class="navbar-brand" href="/admin">Gérer mes alertes</a></li>
          </ul>
        </li>
        <li><a href="/getEvents">Données</a></li>
      </ul>
		</nav>

		<br>
		<br>
		<br>
		<br>

    <div style="width: 65%; margin: auto; margin-top: 50px;">
      <ul class="nav nav-tabs">
        <li {% if not post %} class="active" {% endif %}><a data-toggle="tab" href="#menu1">Time Series</a></li>
        <li {% if post %} class="active" {% endif %}><a data-toggle="tab" href="#menu2">Focus Semaine</a></li>
      </ul>

        <div class="tab-content">
          <div id="menu1" class="tab-pane fade {% if not post %} in active {% endif %}">
              <div style= "background-color: white; padding: 15px; border-radius: 10px; margin-top: 0px; margin-bottom: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div id="container" style="min-width: 310px; height: 700px; margin: 0 auto"></div>
              </div>
            </div>
          <div id="menu2" class="tab-pane fade {% if post %} in active {% endif %}">
              <div style= "background-color: white; padding: 15px; border-radius: 10px; margin-top: 0px; margin-bottom: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <h1 style="font-size: 25px; text-align: center;">Focus semaine du {{ week_monday_date }}</h1>
                <form action="{{ url_for('getEvents',  _anchor='menu2') }}" method="post" class="form-inline" role="form" style="text-align: center; padding-top: 10px;">
                  <div class="form-group">
            				<d1>
                      <input type="week" required class="form-control" id="week" name="week" value="{{ week }}" style="width: 200px;">
                      <input type="hidden" name="action" value="per_week">
            				</d1>
            			</div>
                  <div class="form-group">
            				<d1>
                      <input id="filter" type=submit value="Visualiser" class="btn btn-success">
            				</d1>
            			</div>
            		</form>
                <canvas id="weekChart" style="padding: 10px;"></canvas>
            </div>
          </div>
        </div>
      </div>

</body>

<script>

  // ChartJS //

  var ctx = document.getElementById("weekChart").getContext("2d");

  // weekChart

  var week_chartData = {
    labels : ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
    datasets : [
      {% for streetCount in perStreetWeeklyCount %}
        {
          label: "{{ streetCount[0] }}",
          fill: false,
          lineTension: .3,
          backgroundColor: "{{ streetCount[2] }}",
          borderColor: "rgba(75,192,192,0.4)",
          borderWidth: 0,
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : [{% for item in streetCount[1] %}
                    {{item}},
                  {% endfor %}],
          spanGaps: false
        },
      {% endfor %}
    ]
  }

  var weekChart = new Chart(ctx, {
    type: 'bar',
    data: week_chartData,
    options: {
        legend: {
            labels: {
                padding: 20
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines: {
                    display:true
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines: {
                    display:false
                }
            }]
        },
        responsive: true
      },
  });


  // HighCharts, zoomable timeseries //

  $( document ).ready(function() {

      Highcharts.chart('container', {
          chart: {
              zoomType: 'x'
          },
          colors: ['#CB2940', '#5cb85c', '#6699ff'],
          title: {
              text: 'Mes Données par Rue'
          },
          subtitle: {
              text: document.ontouchstart === undefined ?
                      'Cliquer-glisser pour zoomer' : 'Pincer avec deux doigts pour zoomer'
          },
          xAxis: {
              type: 'datetime'
          },
          yAxis: {
              title: {
                  text: 'Evènements'
              },
              min: 0
          },
          legend: {
              enabled: true
          },
          plotOptions: {
              spline: {
                  fillColor: {
                      linearGradient: {
                          x1: 0,
                          y1: 0,
                          x2: 0,
                          y2: 1
                      },
                      stops: [
                      ]
                  },
                  marker: {
                      radius: 2
                  },
                  lineWidth: 1,
                  states: {
                      hover: {
                          lineWidth: 1
                      }
                  },
                  threshold: null
              }
          },

          series: [
          {% for set in timeSeriesData %}
            {
                type: 'spline',
                name: '{{ set[0] }}',
                data: {{ set[1] }}
            },
          {% endfor %}
          ]
      });
  });
</script>
