<!DOCTYPE html>
<html lang = "en-US">

<head>

  <meta charset = "UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Title -->
  <title>Mon Parc d'Eclairage</title>
  <!-- Custom styles -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
  <!-- Leaflet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src='static/Chart.min.js'></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <link rel="stylesheet" href= "{{ url_for('static',filename='leaflet.awesome-markers.css') }}">
  <script src= "static/markers/leaflet.awesome-markers.js"></script>
  <!-- Hightchart (Zoomable Timeseries) -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" role="navigation">
    <ul class="nav navbar-nav">
      <li><img src="/static/images/logo.png" style="margin-left: 10px; height: 50px;"></img></li>
      <li><a href="/map">Mon Parc</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuration
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="navbar-brand" href="/newDevice">Gérer mes équipements</a></li>
          <li><a class="navbar-brand" href="/admin">Gérer mes alertes</a></li>
        </ul>
      </li>
      <li><a href="/getEvents">Données</a></li>
      <li><a href="/signIn" style="position:fixed; right: 2%;"><i style="font-size: 16px;" class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </nav>

  <div style= "background-color: white; padding: 0px; border-radius: 0px; margin-top: 50px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div id="map" style="height: 957px; border-radius: 0px;"></div>
  </div>

</body>

<script>

//LEAFLET

var map = L.map('map', { zoomControl:false }).setView(
  {% if OffDevices != [] %}
      [{{OffDevices.latitude}},{{OffDevices.longitude}}], 18);
  {% else %}
    [48.8126508,2.3881197], 15);
  {% endif %}

var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
});

L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';

var homeMarker = L.AwesomeMarkers.icon({
    icon: 'home',
    markerColor: 'blue',
  });

var redMarker = L.AwesomeMarkers.icon({
    icon: 'exclamation-circle',
    markerColor: 'red',
  });

var orangeMarker = L.AwesomeMarkers.icon({
    icon: 'lightbulb',
    markerColor: 'orange'
  });

var greenMarker = L.AwesomeMarkers.icon({
    icon: 'lightbulb',
    markerColor: 'green'
  });

{% for device in devices %}

  {% if device.status == 0 %}
    L.marker([{{device.latitude}},{{device.longitude}}], {icon: redMarker}).on('click', function() {
      centerLeafletMapOnMarker(map, this);
    }).addTo(map)
    .bindPopup("<b> Device {{device.device}} </b>  </br> Défectueux </br> ---------------- </br> Rue {{device.street}} </br> {{device.latitude}}, {{device.longitude}}");

  {% elif device.status == 0.5 %}
    L.marker([{{device.latitude}},{{device.longitude}}], {icon: orangeMarker}).on('click', function() {
    centerLeafletMapOnMarker(map, this);
  }).addTo(map)
    .bindPopup("<b> Device {{device.device}} </b>  </br> À Surveiller </br> ---------------- </br> Rue {{device.street}} </br> {{device.latitude}}, {{device.longitude}}");

  {% else %}
    L.marker([{{device.latitude}},{{device.longitude}}], {icon: greenMarker}).on('click', function() {
    centerLeafletMapOnMarker(map, this);
  }).addTo(map)
    .bindPopup("<b> Device {{device.device}} </b> </br> Fonctionnel </br> ---------------- </br> Rue {{device.street}} </br> {{device.latitude}}, {{device.longitude}}");

  {% endif %}

{% endfor %}

L.marker([48.8121706,2.3875415], {icon: homeMarker}).on('click', function() {
  centerLeafletMapOnMarker(map, this);
}).addTo(map)


function centerLeafletMapOnMarker(map, marker) {
  var latLngs = [ marker.getLatLng() ];
  var markerBounds = L.latLngBounds(latLngs);
  map.fitBounds(markerBounds);
}

map.addLayer(layer);

</script>
