<!DOCTYPE html>
<html lang = "en-US">

<head>

  	<meta charset = "UTF-8">
  	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  	<!-- Bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src='static/Chart.min.js'></script>
  	<!-- Title -->
  	<title>Gérer mes équipements</title>
  	<!-- Custom styles -->
  	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">

</head>

<body>

		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" role="navigation">
      <a class="navbar-brand" href="/getEvents">Mon Parc</a>
      <a class="navbar-brand" href="/admin">Alertes</a>
      <a class="navbar-brand" href="/newDevice">Gérer mes équipements</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
		</nav>

    <div style="width: 65%; margin: auto; margin-top: 50px;">
      <div style="margin-top: 100px;">
        <h1>Ajouter un équipement</h1>
      </div>
      <br>
      <div style= "background-color: white; padding: 2px; border-radius: 10px; border: 1px solid grey; margin-top: 0px; margin-bottom: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    		<div style= "padding: 15px; border-radius: 10px; margin-top: 0px;">
            <div class="form-group">
              <br>
      				<d1>
                <select class="form-control" id="street" required name="street" style="width: 49.5%; float: left;">
                    <option value="none" disabled selected>Choisir une Rue...</option>
                    <option value="other">Ajouter une Rue...</option>
                  {% for street in streets %}
                    <option value="{{ street }}">{{ street }}</option>
                  {% endfor %}
                </select>
                <input required maxlength="25" class="form-control" placeholder="Nouvelle Rue..." id="streetInput" name="streetInput" style="display:none; width: 49.5%; float: right;"/>
      				</d1>
      			</div>
          <div style= "background-color: white; padding: 0px; border-radius: 10px; border: 1px solid grey; margin-bottom: 20px; margin-top: 50px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div id="map" style="height: 500px; border-radius: 10px;"></div>
          </div>
          <div id="geolocAlert" class="alert alert-danger alert-dismissible" style='display:none;'>Veuillez géolocaliser l'équipement !
            <button data-dismiss="alert" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="streetAlert" class="alert alert-danger alert-dismissible" style='display:none;'>Veuillez choisir une rue !
            <button data-dismiss="alert" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="newStreetAlert" class="alert alert-danger alert-dismissible" style='display:none;'>Veuillez renseigner le nom de la nouvelle rue !
            <button data-dismiss="alert" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <input id="submit" type=submit value="Sauvegarder" class="btn btn-success" style="margin-bottom: 0; margin-top: 0px; margin-left: 0;">
        <input type=button onclick="window.location='/getEvents';" value="Retour" class="btn btn-warning" style="margin-bottom: 0; margin-top: 0px;">
        <br>
        <br>
        <div id="successAlert" class="alert alert-success alert-dismissible" style='display:none;'>L'équipement a été créé avec succès !
          <button data-dismiss="alert" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        {% if error %}
          <br>
          <p style="color: #ff3333;">{{error}}</p>
        {% endif %}

        </div>
    </div>
  </div>


</body>

<script type="text/javascript" src="../static/js/newDevice.js"></script>
